/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Define header and footer styles */
header, footer {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

a {
  color: #fff;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: royalblue;
  color: #fff;
  position: sticky;
}
/* Alternate row colors */
tr:nth-child(even) {
  background-color: #c1b2b2;
}

/* Define main content layout */
main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px - 30px); /* Adjust for header and footer height */
}

.controls {
  height: 30px;
  background-color: #333;
  color: #fff;
  margin-bottom: 5px;
}

.main-content {
  padding: 2px;
  margin-bottom: 0;
  background-color: #f0f0f0;
  display: flex;
  flex: 1;
}

.main-column {
  flex: 2; /* Adjust width as needed */
  display: flex;
  flex-direction: column;
  margin-right: 2px;
}

/* Map fills available space in main-column */
.map {
  flex: 1;
  margin-bottom: 10px; /* Adjust margin as needed */
}

.side-column {
  flex: 1; /* Adjust width as needed */
  display: flex;
  flex-direction: column;
  background-color: #fff; 
}

.pane {
  flex: 1;
  margin-bottom: 2px;
  display: flex;
  flex-direction: column;
  height: 400px;
  overflow-y: scroll; 
}

/* Chart fills available space in each pane */
.chart1 {
  flex: none;
  margin-bottom: 10px; /* Adjust margin as needed */
  height: 350px;
}

.chart2 {
  flex: none;
  margin-bottom: 10px; /* Adjust margin as needed */
  height: 350px;
  overflow-y: scroll;
}

.controls button {
  background-color: #333;
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.controls button:hover {
  background-color: #fff;
  color: #333;
}
